@model TrashCollector2.Models.ViewAllPickUpsViewModel
@{
    ViewBag.Title = "All Pick Ups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">All Pick Ups</h2>

<div>
    <table class="table-hover table-striped table" style="width:100%; text-align:center; font-size:16px;">
        <thead>
            <tr>
                <th style="text-align:center">#</th>
                <th style="text-align:center">User Name</th>
                <th style="text-align:center">Pick Up Day</th>
                <th style="text-align:center">Zip Code</th>
                <th style="text-align:center">Picked Up?</th>
            </tr>
        </thead>
        <tbody style="padding-top:10px;">
            @{
                int row = 1;
                foreach (var el in Model.Days)
                {
                    if (el.CurrentDay)
                    {
                        for (int i = 0; i < Model.RegisteredUsers.Count(); i++)
                        {
                            if ((Model.RegisteredUsers[i].PickUpDayId == el.Id || Model.RegisteredUsers[i].ExtraPickUpId == el.Id) && Model.RegisteredUsers[i].PickedUp == 0)
                            {
                                <tr>
                                    <td style="padding-top:14px;">@row</td>
                                    @{ row++;}
                                    <td style="padding-top:14px;">@Model.RegisteredUsers[i].Name</td>
                                    @if (Model.RegisteredUsers[i].PickUpDayId == el.Id)
                                    {
                                        <td style="padding-top:14px;">@Model.RegisteredUsers[i].PickUpDay.Day</td>
                                        <td style="padding-top:14px;">@Model.RegisteredUsers[i].ZipCode</td>
                                        <td>
                                            @Html.ActionLink("Pick Up", "ChargePickUp", "TrashCollector", new { userId = Model.RegisteredUsers[i].Id }, new { @class = " btn btn-primary", @style = "padding: 5px; width: 90px" })
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="padding-top:14px;">@Model.RegisteredUsers[i].ExtraPickUpDay.Day</td>
                                        <td style="padding-top:14px;">@Model.RegisteredUsers[i].ZipCode</td>
                                        <td>
                                            @Html.ActionLink("Pick Up", "ChargeExtraPickUp", "TrashCollector", new { userId = Model.RegisteredUsers[i].Id }, new { @class = " btn btn-primary", @style = "padding: 5px; width: 90px" })
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        if(row == 1)
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td>There are no more pick ups today.</td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>

